include README.md
include LICENSE
include CHANGELOG.md
include requirements.txt
include .allsorted.example.yaml
recursive-include src *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
